@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-BoldItalic.woff2") format("woff2"), url("../fonts/DMSans-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Italic.woff2") format("woff2"), url("../fonts/DMSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-MediumItalic.woff2") format("woff2"), url("../fonts/DMSans-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*Шрифт*/

/*Переменные*/

/*минимальная ширина экрана сайта*/

/* ширина всего сайта*/

/*Переменные для цвета*/

/*основной цвет шрифта*/

html,
body {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  max-inline-size: 100%;
  max-block-size: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

main {
  flex: 1 1 auto;
}

footer {
  flex: 0 0 auto;
}

body {
  color: #FFFFFF;
  font-family: "DMSans";
}

.container {
  max-width: 1266px;
  /*ширина огрничивающего контейнера 1236px + pdding слева и права по 15px с каждой стороны = 1236 + 30 = 1266*/
  margin: 0 auto;
  /*выравнивание контейнера по центру*/
  padding: 0 15px;
}

.btn {
  height: 61px;
  min-width: 194px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 148%;
  letter-spacing: 0.02em;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #57B3FE;
  border: none;
  transition: all 0.1s;
  border-radius: 60px;
}

.btn::before {
  height: 0%;
  width: 2px;
}

.btn:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.btn:focus {
  color: #448aa1;
}

.btn:active {
  color: lightblue;
}

/************************header style start************************/

.header {
  position: relative;
}

.header__inner {
  width: 100%;
  position: absolute;
  top: 33px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 0 58px 0;
  max-width: 1833px;
  margin: 0 auto;
}

.header__active {
  background-color: black;
}

.menu {
  display: flex;
  padding-bottom: 5px;
  margin: 0 40px 0 0;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu__list-item {
  padding-right: 32px;
  white-space: nowrap;
}

.menu__list-item-link {
  font-weight: 500;
  line-height: 100%;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s;
}

.menu__list-item-link:hover {
  opacity: 1.5;
}

.menu__list-item-link:focus {
  color: blue;
}

/************************menu burger style start************************/

.menu__burger {
  display: none;
  width: 40px;
  height: 20px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  left: 0;
}

.burger__line-first {
  top: 0;
}

.burger__line-second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line-third {
  bottom: 0;
}

/************************menu burger style end************************/

/************************header style end************************/

/************************intro style start************************/

.no-webp .intro{
  background: url(/img/intro.jpg); }

.intro {
  min-height: 1120px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 70%;
  padding-top: 200px;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro__desc {
  margin-bottom: 91px;
}

.intro__title {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 68px;
  line-height: 120%;
  color: #FFFFFF;
}

.intro__subtitle {
  margin-bottom: 61px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.8;
}

.intro__img {
  display: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

/************************intro style end************************/

/************************help style start************************/

.no-webp .help{
  background: url(/img/help-bg.jpg) no-repeat center; }

.help {
  min-height: 879px;
  background-size: cover;
  padding-bottom: 184px;
}

.help__desc {
  margin-bottom: 32px;
}

.help__desc-word {
  height: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 122%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #00A077;
  opacity: 0.5;
}

.help__desc-title {
  margin-top: 24px;
  max-width: 528px;
  font-weight: 500;
  font-size: 48px;
  line-height: 122%;
  color: #3B3E43;
}

.help__cards {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(1, 335px 328px);
  gap: 25px 30px;
}

.help__card {
  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
  border-radius: 15px;
}

.help__card-pic-bg-1,
.help__card-pic-bg-2,
.help__card-pic-bg-3,
.help__card-pic-bg-4,
.help__card-pic-bg-5,
.help__card-pic-bg-6 {
  margin-top: 50px;
  margin-left: 41px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.help__card-pic-bg-1 {
  background: #FFE7DB;
  box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
}

.help__card-pic-bg-2 {
  background: #E7F2EF;
  box-shadow: 0px 10px 20px rgba(6, 77, 58, 0.03);
}

.help__card-pic-bg-3 {
  background: #FAF3D8;
  box-shadow: 0px 10px 20px rgba(190, 166, 115, 0.05);
}

.help__card-pic-bg-4 {
  background: #C0F2EF;
  box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
}

.help__card-pic-bg-5 {
  background: #EDE7F2;
  box-shadow: 0px 10px 20px rgba(6, 77, 58, 0.03);
}

.help__card-pic-bg-6 {
  background: #D8F0FA;
  box-shadow: 0px 10px 20px rgba(190, 166, 115, 0.05);
}

.help__card-pic-1,
.help__card-pic-2,
.help__card-pic-3,
.help__card-pic-4,
.help__card-pic-5,
.help__card-pic-6 {
  display: block;
  width: 50px;
  height: 50px;
}

.help__card-title {
  padding: 20px 0 0 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  color: #3B3E43;
}

.help__card-text {
  padding: 15px 25px 70px 40px;
  font-weight: 400;
  line-height: 150%;
  color: #595E64;
}

/************************help style end************************/

/************************process style start************************/

.no-webp .process{
  background: url(/img/process-bg.jpg) no-repeat center; }

.process {
  min-height: 1639px;
  background-size: cover;
  padding: 194px 0 184px 0;
}

.process__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.process__desc-word {
  font-weight: 700;
  font-size: 12px;
  line-height: 122%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}

.process__desc-title {
  margin-top: 14px;
  font-weight: 500;
  font-size: 48px;
  line-height: 122%;
  color: #FFFFFF;
}

.process__desc-text {
  margin-top: 24px;
  max-width: 718px;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #FFFFFF;
}

.process__boards {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(1, 1170px);
  justify-content: center;
  align-items: center;
}

.process__board {
  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(1, 479px 530px);
  gap: 0 57px;
  justify-content: center;
  align-items: center;
}

.process__board-desc-pic-bg {
  width: 50px;
  height: 50px;
  background: #DAE6FF;
  box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
  border-radius: 15px;
}

.process__board-desc-pic {
  width: 50px;
  height: 50px;
}

.process__board-desc-title {
  padding-top: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  color: #3B3E43;
}

.process__board-desc-text {
  padding-top: 15px;
  font-weight: 400;
  line-height: 150%;
  color: #595E64;
}

.process__board-line {
  border-left: 2px dashed #FFFFFF;
  height: 40px;
  margin: 0px 600px;
}

/************************process style end************************/

/************************brands style start************************/

.brands {
  min-height: 502px;
  padding: 184px 0;
}

.brands__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brands__desc-word {
  font-weight: 700;
  font-size: 12px;
  line-height: 122%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #00A077;
  opacity: 0.5;
}

.brands__desc-title {
  margin-top: 24px;
  margin-bottom: 32px;
  max-width: 897px;
  font-weight: 500;
  font-size: 48px;
  line-height: 122%;
  text-align: center;
  color: #3B3E43;
}

.brands__pic {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  gap: 47px 0;
  justify-content: center;
  align-items: center;
}

.brands__pic-1,
.brands__pic-6 {
  height: 100px;
  width: 100%;
}

.brands__pic-2,
.brands__pic-3,
.brands__pic-4,
.brands__pic-5,
.brands__pic-7,
.brands__pic-8,
.brands__pic-9,
.brands__pic-10 {
  width: 100%;
  height: 55px;
}

.brands__subtext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  text-align: center;
}

.brands__subtext-desc {
  max-width: 318px;
  font-weight: 400;
  line-height: 148%;
  color: #424A4D;
}

/************************brands style end************************/

/************************working style start************************/

.working {
  min-height: 817px;
  background: linear-gradient(249.78deg, #35D3FF -0.64%, #A963FB 103.6%);
  padding: 151px 0 143px 0;
}

.working__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.working__desc-word {
  font-weight: 700;
  font-size: 12px;
  line-height: 122%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}

.working__desc-title {
  max-width: 414px;
  margin-top: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 122%;
  color: #FFFFFF;
}

.working__desc-text {
  margin-top: 24px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #FFFFFF;
  max-width: 408px;
}

.working__btn {
  padding: 20px 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 148%;
  letter-spacing: 0.02em;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #57B3FE;
  border: none;
  transition: all 0.3s;
  border-radius: 60px;
}

.working__btn:hover {
  opacity: 0.8;
}

.working__btn:focus {
  color: blue;
}

/************************working style end************************/

/************************footer style start************************/

.footer {
  min-height: 241px;
  background: #0D0D0D;
  background-size: cover;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.footer__menu-list {
  display: flex;
  text-align: center;
}

.footer__menu-list-item {
  padding-right: 32px;
}

.footer__menu-list-item-link {
  font-weight: 500;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: all 0.3s;
}

.footer__menu-list-item-link:hover {
  opacity: 0.8;
}

.footer__menu-list-item-link:focus {
  color: gray;
}

.footer__menu-list-item-link:active {
  color: darkgray;
}

.footer__menu-social {
  display: flex;
  align-items: center;
}

.footer__menu-social-item:hover {
  opacity: 0.8;
}

.footer__menu-social-item:focus {
  color: gray;
}

.footer__menu-social-item:active {
  color: darkgray;
}

.footer__subtext {
  padding-top: 20px;
}

.footer__subtext-list {
  display: flex;
  justify-content: space-between;
}

.footer__subtext-list-item,
.footer__subtext-list-item-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer__subtext-list-item:nth-child(1),
.footer__subtext-list-item-link:nth-child(1) {
  margin-right: 850px;
}

.footer__subtext-list-item:last-child,
.footer__subtext-list-item-link:last-child {
  margin-right: 10px;
}

.footer__subtext-list-item-link:hover,
.footer__subtext-list-item-link-link:hover {
  opacity: 0.8;
}

.footer__subtext-list-item-link:focus,
.footer__subtext-list-item-link-link:focus {
  color: gray;
}

.footer__subtext-list-item-link:active,
.footer__subtext-list-item-link-link:active {
  color: darkgray;
}

/************************footer style end************************/

@media (max-width: 1400px) {
  .btn-header {
    display: none;
  }

  .menu {
    margin: 0 30px 0;
  }
}

@media (max-width: 1240px) {
  /*******menu start*******/

  .header__inner {
    padding: 0 15px;
  }

  .menu {
    margin: 0 0;
  }

  .logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
  }

  /*******menu end*******/

  /*******intro start*******/

  .intro__title {
    font-size: 48px;
  }

  .intro__subtitle {
    font-size: 15px;
  }

  /*******intro end*******/

  /*******help start*******/

  .help__desc {
    display: grid;
    grid-template-columns: repeat(1, 740px);
    justify-content: center;
  }

  .help__cards {
    grid-template-columns: repeat(2, 370px);
    gap: 25px 30px;
    justify-content: center;
  }

  /*******help end*******/

  /*******process start*******/

  .process__boards {
    grid-template-columns: repeat(1, 700px);
  }

  .process__board {
    grid-template-columns: repeat(1, 530px);
    grid-template-rows: repeat(1, 200px);
    gap: 0 0;
  }

  .process__board-img {
    order: 1;
  }

  .process__board-line {
    margin: 0 100px;
  }

  /*******process end*******/

  /*******working start*******/

  .working__content {
    grid-template-columns: repeat(2, 450px);
  }

  /*******working end*******/

  /*******footer end*******/

  .footer__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }

  .footer__menu-social {
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .footer__subtext-list {
    display: flex;
    justify-content: space-evenly;
  }

  .footer__subtext-list-item:nth-child(1),
  .footer__subtext-list-item-link:nth-child(1) {
    margin-right: 0px;
  }

  .footer__subtext-list-item:last-child,
  .footer__subtext-list-item-link:last-child {
    margin-right: 10px;
  }

  /*******footer end*******/
}

@media (max-width: 989px) {
  /*******menu start*******/

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s, linear;
    padding-bottom: 20px;
    z-index: 999;
  }

  .menu__burger {
    display: block;
  }

  .menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #8281FF, #36BDFF);
    z-index: 999;
    padding: 100px 30px;
    transform: translateX(100%);
    transition: 0.5s all linear;
  }

  .menu__active {
    transform: translateX(0);
  }

  .menu__list-item:last-child {
    margin-bottom: 0;
  }

  .menu__list {
    display: block;
    width: 100%;
  }

  .menu__list-item {
    margin-bottom: 30px;
  }

  .menu__list-item-link {
    font-size: 42px;
    line-height: 48px;
  }

  .menu__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .menu__close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
  }

  .menu__close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .menu__close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  /*******menu end*******/

  /*******intro start*******/

  .btn {
    height: 50px;
    min-width: 160px;
  }

  /*******intro end*******/

  /*******brands start*******/

  .brands__pic {
    grid-template-columns: repeat(3, 1fr);
  }

  /*******brands end*******/

  /*******working start*******/

  .working__content {
    grid-template-columns: repeat(1, 450px);
  }

  /*******working end*******/
}

@media (max-width: 787px) {
  /*******intro start*******/

  .intro {
    background-size: 120% 80%;
  }

  /*******intro end*******/

  /*******help start*******/

  .help {
    margin-bottom: 0px;
  }

  .help__desc {
    grid-template-columns: repeat(1, 350px);
  }

  .help__desc-word {
    font-size: 11px;
  }

  .help__desc-title {
    font-size: 38px;
  }

  .help__cards {
    grid-template-columns: repeat(1, 370px);
    gap: 25px 0;
    justify-content: center;
  }

  .help__card-title {
    font-size: 19px;
  }

  .help__card-text {
    font-size: 14px;
  }

  /*******help end*******/

  /*******process start*******/

  .process__desc-word {
    font-size: 11px;
  }

  .process__desc-title {
    font-size: 38px;
  }

  .process__desc-text {
    font-size: 15px;
  }

  .process__boards {
    grid-template-columns: repeat(1, 350px);
  }

  .process__board {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(1, 300px);
  }

  .process__board-line {
    margin: 0 50px;
  }

  .process__board-desc-title {
    font-size: 19px;
  }

  .process__board-desc-text {
    font-size: 14px;
  }

  /*******process end*******/

  /*******brands start*******/

  .brands__desc-word {
    font-size: 11px;
  }

  .brands__desc-title {
    font-size: 38px;
  }

  .brands__pic {
    grid-template-columns: repeat(2, 1fr);
  }

  .brands__pic-1,
  .brands__pic-6 {
    height: 100px;
    width: 100%;
  }

  /*******brands end*******/

  /*******working start*******/

  .working__desc-word {
    font-size: 11px;
  }

  .working__desc-title {
    font-size: 38px;
  }

  .working__desc-text {
    font-size: 15px;
  }

  .working__content {
    grid-template-columns: repeat(1, 350px);
  }

  /*******working end*******/

  /*******footer start*******/

  .footer__logo {
    display: inline-flex;
    order: -1;
  }

  .footer__inner {
    flex-direction: row;
  }

  .footer__menu-list {
    flex-direction: column;
  }

  .footer__menu-list-item {
    margin-bottom: 15px;
  }

  .footer__menu-social {
    margin-top: 10px;
    order: -1;
  }

  .footer__subtext {
    padding-top: 0;
  }

  .footer__subtext-list {
    display: flex;
    justify-content: space-evenly;
  }

  .footer__subtext-list-item,
  .footer__subtext-list-item-link {
    font-size: 13px;
  }

  /*******footer end*******/
}

@media (max-width: 609px) {
  /*******intro start*******/

  .intro {
    background-size: 150% 70%;
  }

  /*******intro end*******/
}

@media (max-width: 400px) {
  /*******help start*******/

  .help__desc {
    grid-template-columns: repeat(1, 1fr);
  }

  .help__desc-word {
    font-size: 10px;
  }

  .help__desc-title {
    font-size: 30px;
  }

  .help__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px 0;
    justify-content: center;
  }

  /*******help end*******/

  /*******process start*******/

  .process__desc-word {
    font-size: 10px;
  }

  .process__desc-title {
    font-size: 30px;
  }

  .process__desc-text {
    font-size: 13px;
  }

  .process__boards {
    grid-template-columns: repeat(1, 300px);
  }

  .process__board {
    grid-template-columns: repeat(1, 280px);
    grid-template-rows: repeat(1, 300px);
  }

  .process__board-img {
    padding-bottom: 15px;
  }

  .process__board-line {
    margin: 0 30px;
  }

  .process__board-desc-title {
    font-size: 19px;
  }

  .process__board-desc-text {
    font-size: 14px;
  }

  /*******process end*******/

  /*******brands start*******/

  .brands__desc-word {
    font-size: 10px;
  }

  .brands__desc-title {
    font-size: 30px;
  }

  .brands__pic {
    grid-template-columns: repeat(1, 1fr);
  }

  /*******brands end*******/

  /*******working start*******/

  .working__desc-word {
    font-size: 10px;
  }

  .working__desc-title {
    font-size: 30px;
  }

  .working__desc-text {
    font-size: 13px;
    margin-bottom: 30px;
  }

  .working__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px 0;
  }

  /*******working end*******/

  /*******footer start*******/

  .footer {
    min-height: 150px;
  }

  .footer__inner {
    padding-top: 20px;
  }

  .footer__menu {
    display: none;
  }

  .footer__menu-social {
    flex-direction: row;
    margin-left: 50px;
  }

  .footer__subtext-list-item-link,
  .footer__subtext-list-item {
    font-size: 10px;
  }

  .footer__subtext-list-item-link:last-child,
  .footer__subtext-list-item:last-child {
    margin-left: 10px;
    margin-right: 0px;
  }

  /*******footer end*******/
}

webp .intro{ background: url(/img/intro.webp); }

webp .help{ background: url(/img/help-bg.webp) no-repeat center; }

webp .process{ background: url(/img/process-bg.webp) no-repeat center; }